<div>
  <button class="btn btn-primary" ng-click="app.cart.show = false" ng-show="app.cart.show">
    <span class="glyphicon glyphicon-circle-arrow-up"></span>
    Hide Cart
    <span class="badge">{{app.cart.items.length}}</span>
    <span>{{app.cart.total | currency}}</span>
  </button>
  <button class="btn btn-primary" ng-click="app.cart.show = true" ng-hide="app.cart.show">
    <span class="glyphicon glyphicon-circle-arrow-down"></span>
    Show Cart
    <span class="badge">{{app.cart.items.length}}</span>
    <span>{{app.cart.total | currency}}</span>
  </button>
  <div class="well" ng-show="app.cart.show">
    <p ng-hide="app.cart.items.length">Your cart is empty.</p>
    <button ng-click="app.cart.empty()" class="btn btn-danger pull-right" ng-show="app.cart.items.length">
      <span class="glyphicon glyphicon-trash"></span> Empty Cart
    </button>
    <ul class="list-unstyled">
      <li ng-repeat="i in app.cart.items track by $index">
        <span ng-click="app.cart.remove($index)" title="remove" class="glyphicon glyphicon-minus-sign"></span>
        {{i.name}} - {{i.price | currency}}
      </li>
    </ul>
    <a href="#/checkout" class="btn btn-primary" ng-show="app.cart.items.length">
      <span class="glyphicon glyphicon-shopping-cart"></span> Checkout
    </a>
  </div>
</div>
