<form class="well" role="form" ng-controller="app.CheckoutCtrl as checkout">
  <div class="form-group row">
    <div class="col-md-4 col-sm-6">
      <label for="fullName">Name</label><br>
      <input type="text" id="fullName" ng-model="checkout.name" placeholder="Full Name" class="form-control">
    </div>
    <div class="col-md-4 col-sm-6">
      <label for="emailAddr">E-Mail Address</label><br>
      <input type="text" id="emailAddr" placeholder="Email Address" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-4 col-sm-6">
      <label for="address">Street Address</label><br>
      <input type="text" id="srtAddr" ng-model="checkout.address_line1" placeholder="Address" class="form-control">
    </div>
    <div class="col-md-1 col-sm-6">
      <label for="address2">Apt/Suite</label><br>
      <input type="text" id="aptAddr" ng-model="checkout.address_line2" placeholder="#" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-4 col-sm-6">
      <label for="City">City</label><br>
      <input type="text" id="city" ng-model="checkout.address_city" placeholder="City" class="form-control">
    </div>
    <div class="col-md-2 col-sm-6">
      <label for="State">State</label><br>
      <input type="text" id="state" ng-model="checkout.address_state" placeholder="State" class="form-control">
    </div>
    <div class="col-md-1 col-sm-6">
      <label for="zipCode">Zip Code</label><br>
      <input type="text" id="zipCode" ng-model="checkout.address_zip" placeholder="Zip" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-4 col-sm-6">
      <label for="number" accesskey="N">Credit Card Number</label>
      <input type="text" id="number" ng-model="checkout.payment.number" placeholder="XXXX XXXX XXXX XXXX" class="form-control">
    </div>
    <div class="col-md-2 col-sm-6">
      <label for="exp_month" accesskey="X">Expiry Month/Year</label>
      <div class="input-group">
        <input type="text" id="exp_month" ng-model="checkout.payment.exp_month" placeholder="MM" class="form-control" autocomplete="off" typeahead="m for m in mm | filter:$viewValue">
        <span class="input-group-addon">/</span>
        <input type="text" id="exp_year" ng-model="checkout.payment.exp_year" placeholder="YYYY" class="form-control" autocomplete="off" typeahead="y for y in yyyy | filter:$viewValue">
      </div>
    </div>
    <div class="col-md-1 col-sm-6">
      <label for="cvc" accesskey="V">CVC</label>
      <input type="text" id="cvc" ng-model="checkout.payment.cvc" placeholder="CVC" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-6">
      <button class="btn btn-default btn-success" ng-click="checkout.charge(checkout.cart, checkout.payment)">Pay and Checkout</button>
      <a class="btn btn-default btn-default" href="#">Continue Shopping</a>
    </div>
  </div>
  <p>Amount: {{checkout.payment.amount | currency}}</p>
  <div class="form-group row">
    <div class="col-md-4 col-sm-6">
      <label for="amount">Amount</label>
      <input type="text" id="amount" value="{{checkout.payment.amount | currency}}" class="form-control" disabled>
    </div>
    <div class="col-md-4 col-sm-6">
      <label for="token">Token</label>
      <input type="text" id="token" value="{{checkout.cart.token}}" class="form-control" disabled>
    </div>
    <div class="col-md-4 col-sm-6">
      <label for="description">Description</label>
      <input type="text" id="description" value="{{checkout.cart.description}}" class="form-control" disabled>
    </div>
  </div>
</form>
