<ol ng-controller="NodesCtrl as nodes" class="list-unstyled">
  <div ng-include='"view/cart.html"'></div>
  <li ng-repeat="p in nodes.products">
    <button ng-click="app.cart.add(p)" class="btn btn-success btn-xs">Add to cart</button>
    {{p.name}}
  </li>
</ol>
