<div class="product">
  <button ng-click="app.cart.add(product.product)" class="btn btn-success pull-right">
    <span class="glyphicon glyphicon-plus-sign"></span>
    Add to cart
  </button>
  <div ng-include='"view/cart.html"'></div>
</div>
