<!DOCTYPE html>
<html>
  <head>
    <title>RestNG Standalone Demo</title>
    <!-- include bootstrap styles -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- include app's own styles -->
    <link rel="stylesheet" type="text/css" href="css/app.css"></link>
  </head>
  <body class="container">
    <a href="#"><h3><span class="glyphicon glyphicon-home"></span> RestNG Standalone Demo</h3></a>
    <div ng-app="restng-demo">
      <!-- global app controller -->
      <div ng-controller="AppCtrl as app">
        <!-- alerts -->
        <div ng-repeat="a in app.alert.items" role="alert" class="alert alert-{{a.type}}">{{a.message}} <span ng-click="app.alert.remove($index)" class="glyphicon glyphicon-remove pull-right"></span></div>
        <div ng-view></div>
      </div>
    </div>
    <!-- include AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <!-- include AngularJS route module -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.min.js"></script>
    <!-- include local/session storage module -->
    <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
    <!-- include main app module -->
    <script src="js/app.js"></script>
    <!-- include configuration js -->
    <script src="js/config.js"></script>
    <!-- include the shim file to allow this app to work standalone -->
    <script src="js/standalone-shim.js"></script>
    <!-- include stripe.js for payment processing -->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  </body>
</html>
